<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold text-primary" routerLink="/home">
      <i class="fa-solid fa-mountain-sun me-2"></i> FLOR-MONTIEL
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active-link">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comunity" routerLinkActive="active-link">Comunidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/person" routerLinkActive="active-link">Personas</a>
        </li>
      </ul>
      
      <button class="btn btn-outline-danger btn-sm" (click)="logout()">
        <i class="fa-solid fa-right-from-bracket"></i> Salir
      </button>
    </div>
  </div>
</nav>