.navbar {
    background-color: #1a1c1e !important; 
    border-bottom: 2px solid #0d6efd;
}

.nav-link {
    transition: 0.3s;
}

.active-link {
    color: #0d6efd !important;
    font-weight: bold;
    border-bottom: 2px solid #0d6efd;
}