<div class="d-flex" style="min-height: 100vh; background-color: #f0f2f5;">
  
  
  <aside class="bg-white shadow-sm" style="width: 250px; display: flex; flex-direction: column;">
    <div class="p-4 text-center">
     
      <img src="assets/img/logo.png" alt="Logo" class="img-fluid" style="max-height: 100px;">
    </div>

    <nav class="flex-grow-1 mt-2">
      <ul class="list-unstyled">
        <li>
          <a routerLink="/comunity" routerLinkActive="bg-light" class="nav-link px-4 py-3 text-dark border-bottom">
            <i class="fa-solid fa-house me-3"></i>Gestionar Comunidad
          </a>
        </li>
        <li>
          <a routerLink="/comites" class="nav-link px-4 py-3 text-dark border-bottom">
            <i class="fa-solid fa-users me-3"></i>Gestionar Comites
          </a>
        </li>
        <li>
          <a routerLink="/consejos" class="nav-link px-4 py-3 text-dark border-bottom">
            <i class="fa-solid fa-sitemap me-3"></i>Gestionar Consejos
          </a>
        </li>
        <li>
          <a routerLink="/person" class="nav-link px-4 py-3 text-dark border-bottom">
            <i class="fa-solid fa-user-group me-3"></i>Gestionar Voceros
          </a>
        </li>
        <li>
          <a routerLink="/roles" class="nav-link px-4 py-3 text-dark">
            <i class="fa-solid fa-key me-3"></i>Gestionar Roles
          </a>
        </li>
      </ul>
    </nav>

   
    <div class="p-4 border-top">
      <button (click)="logout()" class="btn btn-link text-dark text-decoration-none p-0">
        <i class="fa-solid fa-arrow-right-from-bracket me-2"></i>Cerrar Sesion
      </button>
    </div>
  </aside>

  
  <div class="flex-grow-1 d-flex flex-column">
    
    
    <header class="bg-white m-3 p-3 shadow-sm rounded d-flex justify-content-between align-items-center">
      <h5 class="mb-0 fw-bold">Home</h5>
      <div class="text-secondary">
        <i class="fa-solid fa-circle-user fa-2x"></i>
      </div>
    </header>

   
    <main class="p-4 pt-0">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>