<div class="login-wrapper">
  <div class="card login-card border-0 shadow-lg p-5">
    <div class="card-body text-center p-0">
      
      <div class="header-icon bg-light-purple rounded-circle mx-auto mb-4">
        <i class="fa-solid fa-lock-open fa-3x text-purple-accent"></i>
      </div>
      <h3 class="fw-bold text-dark mb-1">Sistema Flor-Montiel</h3>
      <p class="text-muted small mb-5">Ingresa tus credenciales para continuar</p>

      <form (submit)="onSubmit()" [formGroup]="loginForm">
        
        <div class="mb-4 text-start">
          <label class="form-label text-dark fw-bold small">Correo Electrónico</label>
          <div class="input-group input-group-lg custom-input-group">
            <span class="input-group-text bg-white border-0 text-muted">
              <i class="fa-solid fa-envelope"></i>
            </span>
            <input type="email" class="form-control border-0 bg-white" 
                   formControlName="email" placeholder="ejemplo@correo.com" required>
          </div>
          @if (isFieldInvalid('email')) {
            <span class="text-danger small ms-1">Correo inválido o requerido</span>
          }
        </div>

        <div class="mb-5 text-start">
          <label class="form-label text-dark fw-bold small">Contraseña</label>
          <div class="input-group input-group-lg custom-input-group">
            <span class="input-group-text bg-white border-0 text-muted">
              <i class="fa-solid fa-key"></i>
            </span>
            <input type="password" class="form-control border-0 bg-white" 
                   formControlName="password" placeholder="••••••••" required>
          </div>
          @if (isFieldInvalid('password')) {
            <span class="text-danger small ms-1">La contraseña es requerida</span>
          }
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-cosmo-purple btn-lg fw-bold px-5 py-3 shadow-sm"
                  [disabled]="loginForm.invalid">
            <i class="fa-solid fa-right-to-bracket me-2"></i> Iniciar Sesión
          </button>
        </div>
      </form>

    </div>
  </div>
</div>