<div class="form-container animate__animated animate__fadeIn">
  <div class="form-card shadow">
    <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
      <div class="row g-4">
        
        <!-- Primera Columna -->
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Nombre:</label>
            <input type="text" formControlName="firstName" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Apellido:</label>
            <input type="text" formControlName="lastName" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Cédula:</label>
            <input type="text" formControlName="identification" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Ciudad:</label>
            <select formControlName="cityId" class="custom-input">
              @for (city of cities; track city.id) {
                <option [value]="city.id">{{ city.cityName }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Comunidad:</label>
            <select formControlName="comunityId" class="custom-input">
              @for (c of comunities; track c.id) {
                <option [value]="c.id">{{ c.comunityName }}</option>
              }
            </select>
          </div>
          <div class="mb-3">
            <label class="form-label">Concejo:</label>
            <select formControlName="councilId" class="custom-input">
              @for (co of councils; track co.id) {
                <option [value]="co.id">{{ co.councilName }}</option>
              }
            </select>
          </div>
        </div>

        <!-- Segunda Columna -->
        <div class="col-md-6">
          <div class="mb-3">
            <label class="form-label">Correo:</label>
            <input type="email" formControlName="email" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Contraseña:</label>
            <input type="password" formControlName="password" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Teléfono:</label>
            <input type="text" formControlName="phone" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Fecha De Nacimiento:</label>
            <input type="date" formControlName="date" class="custom-input">
          </div>
          <div class="mb-3">
            <label class="form-label">Comité:</label>
            <select formControlName="committeeId" class="custom-input">
              @for (com of committees; track com.id) {
                <option [value]="com.id">{{ com.committeeName }}</option>
              }
            </select>
          </div>
        </div>

      </div>

      <div class="text-center mt-4">
        <button type="submit" class="btn-registrar" [disabled]="personForm.invalid">
          Registrar
        </button>
      </div>
    </form>
  </div>
</div>